services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    restart: no

  timescaledb:
    image: timescale/timescaledb-ha:pg17
    container_name: timescaledb
    environment:
      POSTGRES_DB: iot
      POSTGRES_USER: iot_user
      POSTGRES_PASSWORD: iot_password
    ports:
      - "5432:5432"
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    restart: no


  fastapi:
    build: ./fastapi
    container_name: bdoh-iot-fastapi
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: iot
      POSTGRES_USER: iot_user
      POSTGRES_PASSWORD: iot_password
      POSTGRES_HOST: timescaledb
      POSTGRES_PORT: 5432
      MQTT_BROKER: mosquitto
      MQTT_PORT: 1883
      # PYTHONPATH: /app:/bdoh-core
    volumes:
      - ./fastapi/app:/app
      - ../bdoh-core:/bdoh-core
      - ./fastapi/requirements.txt:/app/requirements.txt
    command: >
      sh -c "cd /bdoh-core && pip install -e . &&
             cd /app && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    depends_on:
      - timescaledb
      - mosquitto
    restart: no
    env_file:
      - .env
